Repository hashicorp/terraform-provider-hcp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hashicorp/cloud-foundations, @hashicorp/cloud-identity, @hashicorp/cloud-consul, @hashicorp/cloud-platform-systems, @hashicorp/cloud-packer, @hashicorp/vault-cloud, @hashicorp/vault-devex, @hashicorp/boundary-cloud, @hashicorp/core-sre

updated CHANGELOG.md
  CHANGELOG.md
Owners: @hashicorp/cloud-foundations

updated documentation
  docs/index.md
  examples/provider/provider.tf
Owners: @hashicorp/cloud-foundations

Release/add streaming release (#720)
  CHANGELOG.md
  docs/index.md
  examples/provider/provider.tf
Owners: @hashicorp/cloud-foundations

Release/add streaming release (#720)
  CHANGELOG.md
  docs/index.md
  examples/provider/provider.tf
Owners: @hashicorp/cloud-foundations

add resource type validator
  internal/hcpvalidator/resource_type.go
  internal/hcpvalidator/resource_type_test.go
Owners: @hashicorp/cloud-foundations

fix typo
  internal/provider/iam/data_service_principal.go
  internal/provider/iam/resource_service_principal.go
  internal/provider/iam/resource_workload_identity_provider.go
  internal/provider/resourcemanager/data_source_organization.go
  internal/provider/resourcemanager/data_source_project.go
  internal/provider/resourcemanager/resource_project.go
Owners: @hashicorp/cloud-identity, @hashicorp/cloud-foundations

add url validator
  internal/hcpvalidator/url.go
  internal/hcpvalidator/url_test.go
Owners: @hashicorp/cloud-foundations

add webhook client
  internal/clients/client.go
Owners: @hashicorp/cloud-foundations

add webhook resource schema, read, delete, and importstate
  internal/provider/provider.go
  internal/provider/webhook/resource_webhook.go
  internal/provider/webhook/resource_webhook_test.go
Owners: @hashicorp/cloud-foundations

fix project id attribute
  internal/provider/webhook/resource_webhook.go
Owners: @hashicorp/cloud-foundations

fix subscriptions empty list on update
  internal/provider/webhook/resource_webhook.go
Owners: @hashicorp/cloud-foundations

implement create method
  internal/provider/webhook/resource_webhook.go
Owners: @hashicorp/cloud-foundations

update read method and action to actions
  internal/provider/webhook/resource_webhook.go
Owners: @hashicorp/cloud-foundations

add examples
  docs/resources/webhook.md
  examples/resources/hcp_webhook/import.sh
  examples/resources/hcp_webhook/resource.tf
  templates/resources/webhook.md.tmpl
Owners: @hashicorp/cloud-foundations

implement update method
  internal/provider/webhook/resource_webhook.go
Owners: @hashicorp/cloud-foundations

write tests
  internal/provider/webhook/resource_webhook.go
  internal/provider/webhook/resource_webhook_test.go
Owners: @hashicorp/cloud-foundations

generate documentation
  docs/data-sources/organization.md
  docs/data-sources/project.md
  docs/data-sources/service_principal.md
  docs/resources/iam_workload_identity_provider.md
  docs/resources/project.md
  docs/resources/service_principal.md
  docs/resources/webhook.md
  internal/provider/webhook/resource_webhook.go
Owners: @hashicorp/cloud-foundations, @hashicorp/cloud-identity

handle webhook name update when webhook update fails
  internal/provider/webhook/resource_webhook.go
Owners: @hashicorp/cloud-foundations

add changelog
  .changelog/723.txt
  go.mod
Owners: @hashicorp/cloud-foundations

regenerate docs
  docs/resources/webhook.md
Owners: @hashicorp/cloud-foundations

Update examples/resources/hcp_webhook/import.sh
  examples/resources/hcp_webhook/import.sh
Owners: @hashicorp/cloud-foundations

add ResourceWithConfigure interface and update resource example
  examples/resources/hcp_webhook/resource.tf
  internal/provider/webhook/resource_webhook.go
Owners: @hashicorp/cloud-foundations

add https url validator
  docs/resources/webhook.md
  internal/hcpvalidator/https_url.go
  internal/hcpvalidator/https_url_test.go
  internal/hcpvalidator/url.go
Owners: @hashicorp/cloud-foundations

add hmac_key update test
  internal/provider/webhook/resource_webhook_test.go
Owners: @hashicorp/cloud-foundations

add plan modifier to provoke update when default project is changed
  internal/provider/diff/custom.go
  internal/provider/webhook/resource_webhook.go
Owners: @hashicorp/cloud-foundations

Update internal/hcpvalidator/resource_type.go
  internal/hcpvalidator/resource_type.go
Owners: @hashicorp/cloud-foundations

rename modifiers package
  internal/provider/modifiers/project.go
  internal/provider/webhook/resource_webhook.go
Owners: @hashicorp/cloud-foundations

rename to hcp_notifications_webhook
  .changelog/723.txt
  docs/resources/notifications_webhook.md
  examples/resources/hcp_notifications_webhook/import.sh
  examples/resources/hcp_notifications_webhook/resource.tf
  examples/resources/hcp_webhook/import.sh
  internal/provider/provider.go
  internal/provider/webhook/resource_notifications_webhook.go
  internal/provider/webhook/resource_notifications_webhook_test.go
  templates/resources/notifications_webhook.md.tmpl
Owners: @hashicorp/cloud-foundations

address feedback
  .changelog/625.txt
  internal/providersdkv2/resource_vault_cluster_test.go
Owners: @hashicorp/cloud-foundations, @hashicorp/vault-cloud

add subscriptions validator
  examples/resources/hcp_notifications_webhook/import.sh
  internal/provider/webhook/resource_notifications_webhook.go
  internal/provider/webhook/resource_notifications_webhook_test.go
  internal/provider/webhook/validator/subscriptions.go
  internal/provider/webhook/validator/subscriptions_test.go
Owners: @hashicorp/cloud-foundations

update doc
  docs/resources/notifications_webhook.md
Owners: @hashicorp/cloud-foundations

Use ParallelTest instead of Test
  contributing/writing-tests.md
  internal/provider/iam/data_service_principal_test.go
  internal/provider/iam/resource_service_principal_key_test.go
  internal/provider/iam/resource_service_principal_test.go
  internal/provider/iam/resource_workload_identity_provider_test.go
  internal/provider/logstreaming/resource_hcp_log_streaming_destination_test.go
  internal/provider/resourcemanager/data_source_iam_policy_test.go
  internal/provider/resourcemanager/data_source_organization_test.go
  internal/provider/resourcemanager/data_source_project_test.go
  internal/provider/resourcemanager/resource_organization_iam_policy_test.go
  internal/provider/resourcemanager/resource_project_iam_policy_test.go
  internal/provider/resourcemanager/resource_project_test.go
  internal/provider/vaultsecrets/data_source_vault_secrets_app_test.go
  internal/provider/vaultsecrets/data_source_vault_secrets_secret_test.go
  internal/provider/vaultsecrets/resource_vault_secrets_app_test.go
  internal/provider/vaultsecrets/resource_vault_secrets_secret_test.go
  internal/providersdkv2/data_source_packer_bucket_names_test.go
  internal/providersdkv2/data_source_packer_run_task_test.go
  internal/providersdkv2/location_test.go
  internal/providersdkv2/resource_aws_network_peering_test.go
  internal/providersdkv2/resource_aws_transit_gateway_attachment_test.go
  internal/providersdkv2/resource_azure_peering_connection_test.go
  internal/providersdkv2/resource_boundary_cluster_test.go
  internal/providersdkv2/resource_consul_cluster_test.go
  internal/providersdkv2/resource_consul_snapshot_test.go
  internal/providersdkv2/resource_hvn_peering_connection_test.go
  internal/providersdkv2/resource_hvn_route_test.go
  internal/providersdkv2/resource_hvn_test.go
  internal/providersdkv2/resource_packer_run_task_test.go
  internal/providersdkv2/resource_vault_cluster_perf_replication_test.go
  internal/providersdkv2/resource_vault_plugin_test.go
Owners: @hashicorp/cloud-foundations, @hashicorp/cloud-identity, @hashicorp/vault-devex, @hashicorp/cloud-packer, @hashicorp/cloud-platform-systems, @hashicorp/boundary-cloud, @hashicorp/cloud-consul, @hashicorp/vault-cloud

HVT-4407 implement ip allowlist in terraform provider (#625)
  .changelog/625.txt
  docs/data-sources/vault_cluster.md
  docs/resources/vault_cluster.md
  internal/clients/vault_cluster.go
  internal/providersdkv2/data_source_vault_cluster.go
  internal/providersdkv2/resource_consul_cluster.go
  internal/providersdkv2/resource_vault_cluster.go
  internal/providersdkv2/resource_vault_cluster_const_test.go
  internal/providersdkv2/resource_vault_cluster_test.go
  internal/providersdkv2/validators.go
  internal/providersdkv2/validators_test.go
Owners: @hashicorp/cloud-foundations, @hashicorp/vault-cloud, @hashicorp/cloud-consul

HVT-4407 implement ip allowlist in terraform provider (#625)
  .changelog/625.txt
  docs/data-sources/vault_cluster.md
  docs/resources/vault_cluster.md
  internal/clients/vault_cluster.go
  internal/providersdkv2/data_source_vault_cluster.go
  internal/providersdkv2/resource_consul_cluster.go
  internal/providersdkv2/resource_vault_cluster.go
  internal/providersdkv2/resource_vault_cluster_const_test.go
  internal/providersdkv2/resource_vault_cluster_test.go
  internal/providersdkv2/validators.go
  internal/providersdkv2/validators_test.go
Owners: @hashicorp/cloud-foundations, @hashicorp/vault-cloud, @hashicorp/cloud-consul

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence
* @hashicorp/cloud-foundations

# all iam resources and clients are owned by the cloud-identity team
*iam* @hashicorp/cloud-identity

# all Consul resources and clients are owned by the cloud-consul team
*consul* @hashicorp/cloud-consul
/internal/consul/ @hashicorp/cloud-consul

# all Networking resources and clients are owned by the cloud-platform-systems team
*hvn* @hashicorp/cloud-platform-systems
*aws* @hashicorp/cloud-platform-systems
*azure* @hashicorp/cloud-platform-systems
*peering* @hashicorp/cloud-platform-systems

# all Packer resources and clients are owned by the cloud-packer team
*packer* @hashicorp/cloud-packer

# all Vault resources and clients are owned by the vault-cloud team
*vault* @hashicorp/vault-cloud

# all Vault Secrets resources and clients are owned by cloud-vault-secrets team
*vaultsecrets* @hashicorp/vault-devex

# all Boundary resources and clients are owned by the boundary-cloud team
*boundary* @hashicorp/boundary-cloud

# Statuspage.io configuration is owned by the Core SRE team
/internal/provider/statuspage.go @hashicorp/core-sre
/internal/providersdkv2/statuspage.go @hashicorp/core-sre
