Repository hashicorp/terraform-provider-hcp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-identity, @hashicorp/cloud-consul, @hashicorp/cloud-platform-systems, @hashicorp/cloud-packer, @hashicorp/vault-cloud, @hashicorp/cloud-vault-secrets, @hashicorp/boundary-cloud, @hashicorp/cloud-waypoint, @hashicorp/core-sre, @hashicorp/vault-scanning

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence
* @hashicorp/cloud-core-platform-surfaces

# all iam resources and clients are owned by the cloud-identity team
*iam* @hashicorp/cloud-identity

# all Consul resources and clients are owned by the cloud-consul team
*consul* @hashicorp/cloud-consul
/internal/consul/ @hashicorp/cloud-consul

# all Networking resources and clients are owned by the cloud-platform-systems team
*hvn* @hashicorp/cloud-platform-systems
*aws* @hashicorp/cloud-platform-systems
*azure* @hashicorp/cloud-platform-systems
*peering* @hashicorp/cloud-platform-systems

# all Packer resources and clients are owned by the cloud-packer team
*packer* @hashicorp/cloud-packer

# all Vault resources and clients are owned by the vault-cloud team.
**/vault*  @hashicorp/vault-cloud

# all Vault Secrets resources and clients are owned by cloud-vault-secrets team
# Don't move these vault secret patterns above the vault patterns. Because, the vault patterns matches
# vault secrets ones and that only selects vault-cloud team as the code owner.
*vaultsecrets*  @hashicorp/cloud-vault-secrets
*vault_secrets* @hashicorp/cloud-vault-secrets
*vault-secrets* @hashicorp/cloud-vault-secrets

# all Boundary resources and clients are owned by the boundary-cloud team
*boundary* @hashicorp/boundary-cloud

# all Waypoint resources and clients are owned by the waypoint team
**/waypoint @hashicorp/cloud-waypoint

# Statuspage.io configuration is owned by the Core SRE team
/internal/provider/statuspage.go @hashicorp/core-sre
/internal/providersdkv2/statuspage.go @hashicorp/core-sre

# all Vault Radar resources and clients are owned by the vault-scanning team
*vaultradar*  @hashicorp/vault-scanning
*vault_radar* @hashicorp/vault-scanning
*vault-radar*  @hashicorp/vault-scanning
**/vaultradar/* @hashicorp/vault-scanning
**/vaultradar* @hashicorp/vault-scanning
**/hcp_vault_radar* @hashicorp/vault-scanning

setup terraform for gencheck
  .github/workflows/terraform_provider.yml
Owners: @hashicorp/cloud-core-platform-surfaces

setup terraform for gencheck (#1106)
  .github/workflows/terraform_provider.yml
Owners: @hashicorp/cloud-core-platform-surfaces

setup terraform for gencheck (#1106)
  .github/workflows/terraform_provider.yml
Owners: @hashicorp/cloud-core-platform-surfaces

feat: Update hcp-sdk-go.
  .changelog/1098.txt
  go.mod
  go.sum
Owners: @hashicorp/cloud-core-platform-surfaces

feat: Add execution mode configs to templates.
  docs/data-sources/waypoint_template.md
  docs/resources/waypoint_template.md
  internal/provider/waypoint/data_source_waypoint_template.go
  internal/provider/waypoint/data_source_waypoint_template_test.go
  internal/provider/waypoint/resource_waypoint_template.go
  internal/provider/waypoint/resource_waypoint_template_test.go
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-waypoint

feat: Add execution mode configs to add-on definitions.
  docs/data-sources/waypoint_add_on_definition.md
  docs/resources/waypoint_add_on_definition.md
  internal/provider/waypoint/data_source_waypoint_add_on_definition.go
  internal/provider/waypoint/data_source_waypoint_add_on_definition_test.go
  internal/provider/waypoint/resource_waypoint_add_on_definition.go
  internal/provider/waypoint/resource_waypoint_add_on_definition_test.go
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-waypoint

chore: Bump hcp-sdk-go.
  go.mod
  go.sum
Owners: @hashicorp/cloud-core-platform-surfaces

Make execution mode configurable for Waypoint templates & add-ons (#1098)
  .changelog/1098.txt
  docs/data-sources/waypoint_add_on_definition.md
  docs/data-sources/waypoint_template.md
  docs/resources/waypoint_add_on_definition.md
  docs/resources/waypoint_template.md
  go.mod
  go.sum
  internal/provider/waypoint/data_source_waypoint_add_on_definition.go
  internal/provider/waypoint/data_source_waypoint_add_on_definition_test.go
  internal/provider/waypoint/data_source_waypoint_template.go
  internal/provider/waypoint/data_source_waypoint_template_test.go
  internal/provider/waypoint/resource_waypoint_add_on_definition.go
  internal/provider/waypoint/resource_waypoint_add_on_definition_test.go
  internal/provider/waypoint/resource_waypoint_template.go
  internal/provider/waypoint/resource_waypoint_template_test.go
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-waypoint

Make execution mode configurable for Waypoint templates & add-ons (#1098)
  .changelog/1098.txt
  docs/data-sources/waypoint_add_on_definition.md
  docs/data-sources/waypoint_template.md
  docs/resources/waypoint_add_on_definition.md
  docs/resources/waypoint_template.md
  go.mod
  go.sum
  internal/provider/waypoint/data_source_waypoint_add_on_definition.go
  internal/provider/waypoint/data_source_waypoint_add_on_definition_test.go
  internal/provider/waypoint/data_source_waypoint_template.go
  internal/provider/waypoint/data_source_waypoint_template_test.go
  internal/provider/waypoint/resource_waypoint_add_on_definition.go
  internal/provider/waypoint/resource_waypoint_add_on_definition_test.go
  internal/provider/waypoint/resource_waypoint_template.go
  internal/provider/waypoint/resource_waypoint_template_test.go
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-waypoint

Added useModuleReadme field
  .changelog/1099.txt
  docs/resources/waypoint_template.md
  internal/provider/waypoint/resource_waypoint_template.go
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-waypoint

Added useModuleReadme field (#1099)
  .changelog/1099.txt
  docs/resources/waypoint_template.md
  internal/provider/waypoint/resource_waypoint_template.go
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-waypoint

Added useModuleReadme field (#1099)
  .changelog/1099.txt
  docs/resources/waypoint_template.md
  internal/provider/waypoint/resource_waypoint_template.go
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-waypoint

* fix doc by using templates (#1105)
  docs/resources/vault_secrets_dynamic_secret.md
  docs/resources/vault_secrets_integration_aws.md
  docs/resources/vault_secrets_integration_gcp.md
  docs/resources/vault_secrets_integration_mongodbatlas.md
  docs/resources/vault_secrets_integration_twilio.md
  docs/resources/vault_secrets_rotating_secret.md
  templates/resources/vault_secrets_dynamic_secret.md.tmpl
  templates/resources/vault_secrets_integration_aws.md.tmpl
  templates/resources/vault_secrets_integration_gcp.md.tmpl
  templates/resources/vault_secrets_integration_mongodbatlas.md.tmpl
  templates/resources/vault_secrets_integration_twilio.md.tmpl
  templates/resources/vault_secrets_rotating_secret.md.tmpl
Owners: @hashicorp/cloud-vault-secrets

* fix doc by using templates (#1105)
  docs/resources/vault_secrets_dynamic_secret.md
  docs/resources/vault_secrets_integration_aws.md
  docs/resources/vault_secrets_integration_gcp.md
  docs/resources/vault_secrets_integration_mongodbatlas.md
  docs/resources/vault_secrets_integration_twilio.md
  docs/resources/vault_secrets_rotating_secret.md
  templates/resources/vault_secrets_dynamic_secret.md.tmpl
  templates/resources/vault_secrets_integration_aws.md.tmpl
  templates/resources/vault_secrets_integration_gcp.md.tmpl
  templates/resources/vault_secrets_integration_mongodbatlas.md.tmpl
  templates/resources/vault_secrets_integration_twilio.md.tmpl
  templates/resources/vault_secrets_rotating_secret.md.tmpl
Owners: @hashicorp/cloud-vault-secrets

Support pagination for Vault OpenAppSecrets preview API
  internal/clients/vault_secrets_preview.go
  internal/provider/vaultsecrets/data_source_vault_secrets_app_test.go
Owners: @hashicorp/cloud-vault-secrets

Add changelog
  .changelog/1109.txt
Owners: @hashicorp/cloud-core-platform-surfaces

fix lint error
  internal/provider/vaultsecrets/data_source_vault_secrets_app_test.go
Owners: @hashicorp/cloud-vault-secrets

Fix retry loop
  internal/clients/vault_secrets_preview.go
Owners: @hashicorp/cloud-vault-secrets

fix lint
  internal/clients/vault_secrets_preview.go
Owners: @hashicorp/cloud-vault-secrets

Handle breaking change in boundary client
  .changelog/1110.txt
  go.mod
  go.sum
  internal/clients/boundary_cluster.go
  internal/providersdkv2/resource_boundary_cluster.go
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/boundary-cloud
