Repository hashicorp/terraform-provider-hcp, pull requests merged in 2023-11, with the labels that each got.

#664 Fix changelog not re-checked when `pr/no-changelog` label is removed
  .github/workflows/changelog-check.yml
Labels: bug, github_actions, pr/no-changelog

#669 Revert "Add support for http observability on vault_cluster resource"
  .changelog/660.txt
  docs/data-sources/vault_cluster.md
  docs/resources/vault_cluster.md
  internal/providersdkv2/data_source_vault_cluster.go
  internal/providersdkv2/resource_vault_cluster.go
  internal/providersdkv2/resource_vault_cluster_config_test.go
Labels: pr/no-changelog

#673 Always check env when building HCP Client
  internal/clients/client.go
Labels: pr/no-changelog

#678 HPR-1512: Deprecate to-be-removed Iteration attributes
  .changelog/678.txt
  docs/data-sources/packer_iteration.md
  docs/resources/packer_channel_assignment.md
  internal/providersdkv2/data_source_packer_iteration.go
  internal/providersdkv2/resource_packer_channel_assignment.go
Labels: go
