Repository hashicorp/terraform-provider-hcp, pull requests merged in 2024-06, with the labels that each got.

#856 Update CODEOWNERS
  .github/CODEOWNERS
Labels: pr/no-changelog

#857 [docs] Generate docs for vault_secrets_rotating_secret data source
  docs/data-sources/vault_secrets_rotating_secret.md
Labels: documentation, pr/no-changelog

#815 New Resource: Waypoint Action
  .changelog/815.txt
  docs/data-sources/waypoint_action.md
  docs/resources/waypoint_action.md
  internal/clients/waypoint.go
  internal/provider/provider.go
  internal/provider/waypoint/data_source_waypoint_action.go
  internal/provider/waypoint/data_source_waypoint_action_test.go
  internal/provider/waypoint/resource_waypoint_action.go
  internal/provider/waypoint/resource_waypoint_action_test.go
  templates/data-sources/waypoint_action.md.tmpl
  templates/resources/waypoint_action.md.tmpl
Labels: waypoint

#864 Add input variables support to Waypoint add-ons
  .changelog/864.txt
  docs/data-sources/waypoint_add_on.md
  docs/resources/waypoint_add_on.md
  internal/provider/waypoint/data_source_waypoint_add_on.go
  internal/provider/waypoint/data_source_waypoint_add_on_test.go
  internal/provider/waypoint/data_source_waypoint_application_test.go
  internal/provider/waypoint/resource_waypoint_add_on.go
  internal/provider/waypoint/resource_waypoint_add_on_test.go
  internal/provider/waypoint/resource_waypoint_application.go
  internal/provider/waypoint/resource_waypoint_application_test.go
Labels: waypoint
