Repository hashicorp/terraform-provider-hcp, pull requests merged in 2024-05, with the labels that each got.

#831 Fix skip-e2e-tests flag for Prerelease scheduled runs
  .github/workflows/prerelease.yml
Labels: pr/no-changelog

#819 [WAYP-2172] Set variable options for add-on definitions
  .changelog/819.txt
  docs/data-sources/waypoint_add_on_definition.md
  docs/resources/waypoint_add_on_definition.md
  docs/resources/waypoint_application_template.md
  internal/provider/waypoint/data_source_waypoint_add_on_definition.go
  internal/provider/waypoint/data_source_waypoint_add_on_definition_test.go
  internal/provider/waypoint/resource_waypoint_add_on_definition.go
  internal/provider/waypoint/resource_waypoint_add_on_definition_test.go
  internal/provider/waypoint/resource_waypoint_application_template.go
Labels: waypoint

#839 fix state import for Waypoint resources
  .changelog/839.txt
  internal/provider/waypoint/data_source_waypoint_add_on_definition.go
  internal/provider/waypoint/resource_waypoint_add_on.go
  internal/provider/waypoint/resource_waypoint_add_on_definition.go
  internal/provider/waypoint/resource_waypoint_application.go
  internal/provider/waypoint/resource_waypoint_application_template.go
  internal/provider/waypoint/resource_waypoint_tfc_config.go
Labels: bug, waypoint

#845 Convert var opts from list to set for add-on definitions & templates
  docs/resources/waypoint_add_on_definition.md
  docs/resources/waypoint_application_template.md
  internal/provider/waypoint/resource_waypoint_add_on_definition.go
  internal/provider/waypoint/resource_waypoint_application_template.go
Labels: pr/no-changelog
