Repository hashicorp/terraform-provider-hcp, pull requests merged in 2025-02, with the labels that each got.

#1199 Update Github Workflow Ownership
  .github/CODEOWNERS
  GNUmakefile
Labels: github_actions, pr/no-changelog

#1158 Add examples for two Waypoint resources
  docs/resources/waypoint_add_on_definition.md
  docs/resources/waypoint_template.md
  examples/resources/hcp_waypoint_add_on_definition/resource.tf
  examples/resources/hcp_waypoint_template/resource.tf
  templates/resources/waypoint_add_on_definition.md.tmpl
Labels: documentation, pr/no-changelog

#1190 HCPCP-2206: VaultSecrets Acceptance Tests Workflow
  .github/workflows/_testacc_vaultsecrets.yml
Labels: github_actions, pr/no-changelog

#1188 HCPCP-2207: Waypoint Acceptance Tests Workflow
  .github/workflows/_testacc_waypoint.yml
  .github/workflows/testacc.yml
  internal/provider/waypoint/data_source_waypoint_action_test.go
  internal/provider/waypoint/data_source_waypoint_add_on_definition_test.go
  internal/provider/waypoint/data_source_waypoint_add_on_test.go
  internal/provider/waypoint/data_source_waypoint_application_test.go
  internal/provider/waypoint/data_source_waypoint_template_test.go
  internal/provider/waypoint/resource_waypoint_action_test.go
  internal/provider/waypoint/resource_waypoint_add_on_definition_test.go
  internal/provider/waypoint/resource_waypoint_add_on_test.go
  internal/provider/waypoint/resource_waypoint_application_test.go
  internal/provider/waypoint/resource_waypoint_template_test.go
  internal/provider/waypoint/resource_waypoint_tfc_config_test.go
Labels: github_actions, pr/no-changelog

#1214 Waypoint: Fix typo `odule` -> `module`
  docs/resources/waypoint_template.md
  internal/provider/waypoint/resource_waypoint_template.go
Labels: pr/no-changelog

#1217 Bug! Prerelease Upload Names Conflict
  .github/workflows/_testacc_iam.yml
  .github/workflows/_testacc_vaultsecrets.yml
  .github/workflows/_testacc_waypoint.yml
  .github/workflows/test.yml
Labels: github_actions, pr/no-changelog

#1221 Ability to Skip Acceptance Tests for Release
  .github/workflows/_testacc_platform.yml
  .github/workflows/prerelease.yml
Labels: github_actions, pr/no-changelog

#1220 Add stale PR workflow
  .github/workflows/pr-stale.yml
Labels: pr/no-changelog

#1222 Ensure release runs if Testacc skipped
  .github/workflows/prerelease.yml
Labels: github_actions, pr/no-changelog

#1223 TestAcc Job Names
  .github/workflows/_testacc_boundary.yml
  .github/workflows/_testacc_consul.yml
  .github/workflows/_testacc_iam.yml
  .github/workflows/_testacc_packer.yml
  .github/workflows/_testacc_platform.yml
  .github/workflows/_testacc_vault.yml
  .github/workflows/_testacc_vaultradar.yml
  .github/workflows/_testacc_vaultsecrets.yml
  .github/workflows/_testacc_waypoint.yml
Labels: github_actions, pr/no-changelog
